# Merging Data avec Pandas 

Dans la science de donn√©es on a souvent besoin de fusionner des tableaux. On peut le faire avec la fonction `merge()` qui prend comme param√®tres deux `DataFrames` ainsi que les colonnes avec lesquelles r√©aliser les jointures. Cette m√©thode est tr√®s similaire √† SQL sur le principe üî≠

### Importer pandas et les dataset `user_device.csv`, `user_usage.csv` et `android_devices.csv`

In [8]:
import numpy as np

In [9]:
import pandas as pd;

In [10]:
da = pd.read_csv("user_device.csv")
db = pd.read_csv("user_usage.csv")
dc = pd.read_csv("android_devices.csv")
print(dc)

      Retail Branding Marketing Name       Device                      Model
0                 NaN            NaN       AD681H  Smartfren Andromax AD681H
1                 NaN            NaN        FJL21                      FJL21
2                 NaN            NaN          T31              Panasonic T31
3                 NaN            NaN     hws7721g         MediaPad 7 Youth 2
4                  3Q        OC1020A      OC1020A                    OC1020A
...               ...            ...          ...                        ...
14541           pendo    PNDPP44QC10  PNDPP44QC10                PNDPP44QC10
14542           pendo     PNDPP44QC7   PNDPP44QC7                 PNDPP44QC7
14543      sugar_aums         QPOINT        QPI-1                      QPI-1
14544       tecmobile       OmnisOne     OmnisOne                  Omnis One
14545           ucall          EASY1        EASY1                      EASY1

[14546 rows x 4 columns]

### Importer les dataset & renommer la colonne `Branding` du dataset `android_devices.csv`

In [11]:
dc = pd.read_csv("android_devices.csv")
dc.rename(columns={'Retail Branding': 'Brand'}, inplace=True)
print (dc)

            Brand Marketing Name       Device                      Model
0             NaN            NaN       AD681H  Smartfren Andromax AD681H
1             NaN            NaN        FJL21                      FJL21
2             NaN            NaN          T31              Panasonic T31
3             NaN            NaN     hws7721g         MediaPad 7 Youth 2
4              3Q        OC1020A      OC1020A                    OC1020A
...           ...            ...          ...                        ...
14541       pendo    PNDPP44QC10  PNDPP44QC10                PNDPP44QC10
14542       pendo     PNDPP44QC7   PNDPP44QC7                 PNDPP44QC7
14543  sugar_aums         QPOINT        QPI-1                      QPI-1
14544   tecmobile       OmnisOne     OmnisOne                  Omnis One
14545       ucall          EASY1        EASY1                      EASY1

[14546 rows x 4 columns]

### Afficher les dataset

In [12]:
db = pd.read_csv("user_usage.csv")
db.head()

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

In [13]:
da = pd.read_csv("user_device.csv")
da.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [14]:
dc = pd.read_csv("android_devices.csv")
dc.iloc[0:10]

,Retail Branding,Marketing Name,Device,Model
0,NaN,NaN,AD681H,Smartfren Andromax AD681H
1,NaN,NaN,FJL21,FJL21
2,NaN,NaN,T31,Panasonic T31
3,NaN,NaN,hws7721g,MediaPad 7 Youth 2
4,3Q,OC1020A,OC1020A,OC1020A
5,7Eleven,IN265,IN265,IN265
6,A.O.I. ELECTRONICS FACTORY,A.O.I.,TR10CS1_11,TR10CS1
7,AG Mobile,AG BOOST 2,BOOST2,E4010
8,AG Mobile,AG Flair,AG_Flair,Flair
9,AG Mobile,AG Go Tab Access 2,AG_Go_Tab_Access_2,AG_Go_Tab_Access_2

### Votre premier merge

In [15]:
dd=pd.merge(db,da[['use_id','platform','device']])
dd.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

### Afficher la `shape` de vos dataset ainsi que celle du dataset de sortie 

Que remarquez vous ?

In [16]:
print("user_usage dimensions: {}".format(db.shape))
print("user_device dimensions: {}".format(da.shape))
print("result dimensions: {}".format(dd.shape))

user_usage dimensions: (240, 4)
user_device dimensions: (272, 6)
result dimensions: (159, 6)

### Afficher via `value_counts` les `use_id` pr√©sent dans le nouveau dataset ainsi que ceux non pr√©sent

In [17]:
db['use_id'].isin(da['use_id']).value_counts()

True     159
False     81
Name: use_id, dtype: int64

### Le left merge

Afficher la `shape` du dataset `user_usage`, celle du dataset de sortie ainsi que les valeurs manquantes.

In [18]:
dd = pd.merge(db,da[['use_id', 'platform', 'device']],on='use_id', how='left')
print("user_usage dimensions: {}".format(db.shape))
print("result dimensions: {}".format(dd.shape))
print("There are {} missing values in the result.".format(dd['device'].isnull().sum()))

user_usage dimensions: (240, 4)
result dimensions: (240, 6)
There are 81 missing values in the result.

### Afficher votre dataset

In [19]:
dd.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

### Le right merge

Afficher la `shape` du dataset `user_device`, celle du dataset de sortie ainsi que les valeurs manquantes des colonnes `monthly_mb` et `platform`.

In [20]:
dd = pd.merge(db,da[['use_id', 'platform', 'device']],on='use_id', how='right')
print("user_device dimensions: {}".format(da.shape))
print("result dimensions: {}".format(dd.shape))
print("There are {} missing values in the result.".format(dd['monthly_mb'].isnull().sum()))
print("There are {} missing values in the result.".format(dd['platform'].isnull().sum()))

user_device dimensions: (272, 6)
result dimensions: (272, 6)
There are 113 missing values in the result.
There are 0 missing values in the result.

### Le outer merge example

Afficher les valeurs unique de `use_id` des datasets `user_device` & `user_usage`, celle du dataset de sortie ainsi que les valeurs no manquantes.

In [21]:
print("There are {} unique values of use_id in our dataframes.".format(pd.concat([db['use_id'], da['use_id']]).unique().shape[0]))

dd = pd.merge(db,da[['use_id', 'platform', 'device']], on='use_id', how='outer')

print("Outer merge result has {} rows.".format(dd.shape))

#print("There are {} rows with no missing values.".format(dd) ...

There are 353 unique values of use_id in our dataframes.
Outer merge result has (353, 6) rows.

### Afficher les lignes `0,1,200,201,350,351`

In [23]:
dd.iloc [[0, 1, 200, 201, 350, 351]]

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
200,28.79,29.42,3114.67,23988,NaN,NaN
201,616.56,99.85,5414.14,24006,NaN,NaN
350,NaN,NaN,NaN,23050,ios,"iPhone7,2"
351,NaN,NaN,NaN,23051,ios,"iPhone7,2"

### Ajouter les colonnes `device` & `manufacturer`

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,manufacturer,Model
0,21.97,4.82,1557.33,22787,android,GT-I9505,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303,Sony,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F,Samsung,SM-G361F

### Afficher les `device` commencant par 'GT'

      Retail Branding          Marketing Name     Device      Model
1095          Bitmore                 GTAB700    GTAB700   NID_7010
1096          Bitmore                 GTAB900    GTAB900       S952
2402          Grundig                 GTB1050    GTB1050   GTB 1050
2403          Grundig                  GTB850     GTB850    GTB 850
2404          Grundig                 TC69CA2     GTB801    GTB 801
9125          Samsung                     NaN  GT-I5510M  GT-I5510M
9126          Samsung                     NaN  GT-I5510T  GT-I5510T
9127          Samsung                     NaN  GT-I5800L  GT-I5800L
9128          Samsung                     NaN  GT-N7000B  GT-N7000B
9129          Samsung                     NaN  GT-P7300B  GT-P7300B
9130          Samsung                     NaN  GT-P7320T  GT-P7320T
9131          Samsung                     NaN  GT-P7500M  GT-P7500M
9132          Samsung                     NaN  GT-P7500R  GT-P7500R
9133          Samsung                     NaN  GT-P7500V  GT-P7500V
9134          Samsung                     NaN   GT-S5698   GT-S5698
9135          Samsung                     NaN   GT-S5820   GT-S5820
9136          Samsung                     NaN  GT-S5830V  GT-S5830V
9173          Samsung                Absolute   GT-B9120   GT-B9120
9184          Samsung                  Europa  GT-I5500B  GT-I5500B
9185          Samsung                  Europa  GT-I5500L  GT-I5500L
9186          Samsung                  Europa  GT-I5500M  GT-I5500M
9187          Samsung                  Europa  GT-I5503T  GT-I5503T
9188          Samsung                  Europa  GT-I5510L  GT-I5510L
9191          Samsung          Galaxy (China)   GT-B9062   GT-B9062
9288          Samsung              Galaxy Ace   GT-S5830   GT-S5830
9289          Samsung              Galaxy Ace  GT-S5830B  GT-S5830B
9290          Samsung              Galaxy Ace  GT-S5830C  GT-S5830C
9291          Samsung              Galaxy Ace  GT-S5830D  GT-S5830D
9292          Samsung              Galaxy Ace  GT-S5830F  GT-S5830F
9293          Samsung              Galaxy Ace  GT-S5830G  GT-S5830G
...               ...                     ...        ...        ...
10480         Samsung          Galaxy Tab 7.7   GT-P6800   GT-P6800
10481         Samsung          Galaxy Tab 7.7   GT-P6810   GT-P6810
10484         Samsung          Galaxy Tab 8.9   GT-P7300   GT-P7300
10485         Samsung          Galaxy Tab 8.9   GT-P7310   GT-P7310
10486         Samsung          Galaxy Tab 8.9   GT-P7320   GT-P7320
10778         Samsung                Galaxy W   GT-I8150   GT-I8150
10779         Samsung                Galaxy W  GT-I8150B  GT-I8150B
10780         Samsung                Galaxy W  GT-I8150T  GT-I8150T
10796         Samsung           Galaxy Xcover   GT-S5690   GT-S5690
10797         Samsung           Galaxy Xcover  GT-S5690L  GT-S5690L
10798         Samsung           Galaxy Xcover  GT-S5690M  GT-S5690M
10799         Samsung           Galaxy Xcover  GT-S5690R  GT-S5690R
10804         Samsung                Galaxy Y   GT-S5360   GT-S5360
10805         Samsung                Galaxy Y  GT-S5360B  GT-S5360B
10806         Samsung                Galaxy Y  GT-S5360L  GT-S5360L
10807         Samsung                Galaxy Y  GT-S5360T  GT-S5360T
10808         Samsung                Galaxy Y   GT-S5363   GT-S5363
10809         Samsung                Galaxy Y   GT-S5368   GT-S5368
10810         Samsung                Galaxy Y   GT-S5369   GT-S5369
10813         Samsung           Galaxy Y Duos   GT-S6102   GT-S6102
10814         Samsung           Galaxy Y Duos  GT-S6102B  GT-S6102B
10815         Samsung           Galaxy Y Duos  GT-S6102E  GT-S6102E
10818         Samsung            Galaxy Y Pop   GT-S6108   GT-S6108
10819         Samsung            Galaxy Y Pro   GT-B5510   GT-B5510
10820         Samsung            Galaxy Y Pro  GT-B5510B  GT-B5510B
10821         Samsung            Galaxy Y Pro  GT-B5510L  GT-B5510L
10822         Samsung       Galaxy Y Pro Duos   GT-B5512   GT-B5512
10823         Samsung       Galaxy Y Pro Duos  GT-B5512B  GT-B5512B
10824         Samsung             Galaxy Y TV   GT-S5367   GT-S5367
10979           Sharp  AQUOS SERIE mini SHV38        GTQ      SHV38

[164 rows x 4 columns]

### Afficher le dataset des r√©sultats

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,manufacturer,Model
0,21.97,4.82,1557.33,22787,android,GT-I9505,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303,Sony,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F,Samsung,SM-G361F

### Grouper vos donn√©es par `manufacturer`
Compter les `use_id` et afficher les moyennes des colonnes `outgoing_mins_per_month`, `outgoing_sms_per_month`, `monthly_mb`

,use_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
manufacturer,,,,
HTC,44,299.842955,93.059318,5144.077955
Huawei,3,81.526667,9.500000,1561.226667
LGE,2,111.530000,12.760000,1557.330000
Lava,2,60.650000,261.900000,12458.670000
Lenovo,2,215.920000,12.930000,1557.330000
Motorola,16,95.127500,65.666250,3946.500000
OnePlus,6,354.855000,48.330000,6575.410000
Samsung,108,191.010093,92.390463,4017.318889
Sony,16,177.315625,40.176250,3212.000625
Vodafone,1,42.750000,46.830000,5191.120000
ZTE,1,42.750000,46.830000,5191.120000