### 3 Dataset Bitcoin purchases

In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("https://bit.ly/bitcoin-purchases")

In [15]:
df.shape

(1000, 3)

In [16]:
df.dtypes

bitcoin address    object
wire amount        object
credit card         int64
dtype: object

In [17]:
df.head()

                      bitcoin address wire amount          credit card
0  1HeUNvQfhjn8afvjMrMEX5VQB5zy8AacXZ    $2268.82  6759241310493014168
1  18xA8uEzQsEQpyfJWrrLmnu72ut7p2GgeU    $4590.27     6394078189900621
2  1CPLebXd6VKdEmD6xsVByYDbsyhkZ4XzrE    $6160.48     3539006321388994
3  1ESn9zPPwAExS98jqhjkDPd7tGeoevL42u    $6647.19     3560801557252993
4  1JLYsDExCUsEPrN6vNsEgJubJE4xqWtqhp    $3759.40     5349906235596126

In [18]:
df.tail()

                        bitcoin address wire amount          credit card
995  138k9bHDuCABrp62m3jx7qN7GpLmH1tau1    $8777.99     6395533880416383
996  133bMbCx4XumvjzZCctexFdWFtc8AVe92T    $7614.59     5100136128250214
997  1EbNemXSs9jnJuTHg3JFs3sVsCpMVmkZzg    $1710.21  4911312234445162581
998  1ACsxcM3utWGaGtTKBndk7S68KX7bMQCaX    $5240.64  5038080137024268375
999  16PZEa57oL1MEMECPRYf8bwPAttqtuSaVj    $5672.95     4903401043022953

In [20]:
df['wire amount'].str.replace('$','').astype('float')

0      2268.82
1      4590.27
2      6160.48
3      6647.19
4      3759.40
        ...
995    8777.99
996    7614.59
997    1710.21
998    5240.64
999    5672.95
Name: wire amount, Length: 1000, dtype: float64

In [38]:
df.dtypes

bitcoin address    object
wire amount        object
credit card         int64
dtype: object

### V2

In [39]:
df2 = pd.read_csv("https://bit.ly/bitcoin-purchases2")

In [40]:
df2.shape

(1000, 3)

In [41]:
df2.dtypes

bitcoin address    object
wire amount        object
credit card         int64
dtype: object

In [42]:
df2.head()

                      bitcoin address wire amount       credit card
0  1J9DVMtgvnPv4KGHL2XSzoTSt5cBBL1DXe    £8356.92  3543456448666398
1  1HaiVQbzCTs7t1K1fckYEUi9t8ERBFRR7Q     €311,06  3584615208479876
2  1NGPjXfDScEUSZYajAzCkxaVApTbBHC7jP    €2032,44  6370577480710876
3  15cSYRTbcrxYinxNxk7VbkPLZG8nypdjy6    ¥8155.74  4508652385157398
4  18j2qG1DH9YduJiBiccAq8Ak897G3E4JyZ    £3265.44   374622922103592

In [43]:
df2.tail()

                        bitcoin address wire amount          credit card
995  1Jmz4FMQENDkrtkivVdXM8SiC6ZCJVTDhp     ¥844.68     5541649583285688
996  1GCZKgPV9277czn1RsTYoubCwhbndUvPZU    €1433,63  6304232254235660027
997   1LK2DsWBUmSAsqg7n46sdgg4v2SNrqEPM    €3814,11     3546750658508135
998  1PD6oNfFEnxMsR1PvUvkjHQdHYLCewLJhq    $2900.85  6333272716093574938
999  1B2vk6p7usuV4dfrBMLo8Rzpb5NatTmE8R    $1587.16     4913614335644981

In [44]:
df2['wire amount'].str.replace(',','.').astype('float')

ValueError: could not convert string to float: '£8356.92'